<div class="table-container" style="padding: 50px;">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Route Path</th>
        <th>Explination</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>/semester</th>
        <td>
          This route allows you to view all grade distribution data based on the
          selected academic semester (Fall or Spring) and academic year.
        </td>
      </tr>
    </tbody>
  </table>
</div>
