<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>SMC Grades API</strong> by
      <a href="https://asarelcastellanos.com">Asarel Castellanos</a>
    </p>
  </div>
</footer>
