<section class="hero is-fullheight">
  <div class="hero-body">
    <div>
      <p class="title">SMC Grades API</p>
      <p class="subtitle">
        An API built on Node.js that can view historical grade distribution data
        from Santa Monica College.
      </p>
    </div>
  </div>
</section>
