<section class="hero is-large">
  <div class="hero-body has-text-centered">
    <p class="title">SMC Grades API</p>
    <p class="subtitle">
      An API built on Node.js that can view historical grade distribution data
      from Santa Monica College.
    </p>
  </div>
</section>
