<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar'); %>
    <%- include('../partials/hero'); %> 
    <%- include('../partials/footer'); %>
  </body>
</html>
