<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar'); %>
    <section class="hero">
      <div class="hero-body">
        <p class="title">All Semester Routes</p>
      </div>
    </section>
    <%- include('../partials/semester_routes_table'); %> <%-
    include('../partials/footer'); %>
  </body>
</html>
